.members {
    margin: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    margin-left: 50px;
}

.datei {
    margin: 20px 80px 20px;
}

.member-bars {
    margin-bottom: 10px;
}

.timei {
    margin: 20px 80px 20px;
}