<mat-card>
  <h3 style="margin: 20px; color: blue">
    The group has been successfully given
    <span style="color: green">{{ currentValue }}</span> seats.
  </h3>

  <a routerLink="../../../">
    <button mat-stroked-button type="button" style="
        color: blue;
        background-color: white;
        font-size: 15px;
        padding: 10px;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;;
      ">
      Return to Coworking Home
    </button>
  </a>
</mat-card>